# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore dependencies
.deps

# Ignore saved traces
saved-traces

# Ignore saved diffs
saved-diffs

# Ignore archived
archive/*

# Ignore completion files
completion_bash.sh
completion_fish.sh
completion_zsh.sh
