<!--
  ~ Copyright (C) 2019 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License
  -->

<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="androidx.ui.animation.demos">

    <application>
        <activity android:name=".HelloAnimationActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Animation/State Animation with Interruptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".HelloGestureBasedAnimationActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Animation/Gesture based Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".SwipeToDismiss"
            android:configChanges="orientation|screenSize"
            android:label="Animation/Swipe To Dismiss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".SpringBackScrolling"
            android:configChanges="orientation|screenSize"
            android:label="Animation/Spring Back Scrolling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".FancyScrolling"
            android:configChanges="orientation|screenSize"
            android:label="Animation/Animated Scrolling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".AnimatableSeekBar"
            android:configChanges="orientation|screenSize"
            android:label="Animation/Animatable Seek Bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".StateBasedRippleAnimation"
                  android:configChanges="orientation|screenSize"
                  android:label="Animation/State Based Ripple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".RepeatedRotationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Animation/Repeating Rotation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
