/unbundled-build
.classpath
.gradle
**/.idea/**
!**/.idea/codeStyleSettings.xml
!**/.idea/copyright
!.idea/copyright/AndroidCopyright.xml
!.idea/copyright/profiles_settings.xml
!.idea/vcs.xml
.project
.settings/
project.properties
local.properties
**/bin
**/gen
*.iml
**/out
buildSrc/build
lifecycle/common/build
jacoco.exec
