<!--
  Copyright 2025 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="androidx.glance.appwidget.multiprocess.test"
        android:targetProcesses="androidx.glance.appwidget.multiprocess.test:custom" />

    <application
        android:name=".TestApplication"
        android:allowBackup="false"
        android:label="Glance App Widget Multiprocess Demos"
        android:supportsRtl="true">

        <activity android:name=".TestActivity"
            android:exported="true"
            android:process=":custom"
            />

        <receiver
            android:name=".TestWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false"
            android:process=":custom"
            android:label="Custom process widget receiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/default_app_widget_info" />
        </receiver>
        <activity
            android:name=".CustomActionTrampolineActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="false"
            android:process=":custom"
            android:enabled="true" />
        <activity
            android:name=".CustomInvisibleTrampolineActivity"
            android:exported="false"
            android:taskAffinity="androidx.glance.appwidget.ListAdapterCallbackTrampoline"
            android:theme="@style/Widget.Glance.AppWidget.CallbackTrampoline"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":custom"
            android:enabled="true" />
        <receiver
            android:name=".CustomActionCallbackBroadcastReceiver"
            android:exported="false"
            android:process=":custom"
            android:enabled="true" />
        <service
            android:name=".CustomRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true"
            android:process=":custom"
            tools:ignore="MissingServiceExportedEqualsTrue" />
        <service
            android:name=".CustomWorkerService"
            android:exported="false"
            android:process=":custom"
            tools:ignore="MissingServiceExportedEqualsTrue" />
        <receiver
            android:name=".CustomMyPackageReplacedReceiver"
            android:exported="false"
            android:process=":custom"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>