<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2023 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- BLUETOOTH_CONNECT is needed in order to expose the BT device name -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- required permissions in order to post call-style notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- The queries tag is required for the Call Icon Extension.  The queries block allows the
      remote InCallServices to be visible to this VoIP app so this app can grant Uri permissions
      to them -->
    <queries>
        <intent>
            <action android:name="android.telecom.InCallService" />
        </intent>
    </queries>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".CallingMainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/main_activity_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- The queries tag is useful for the Call Icon Extension.  It allows the VoIP app to
             store a bitmap to memory and creates a URI that can be shared to another app -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="androidx.core.telecom.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>