<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Jetpack Compose Material 3 A2UI Demos"
        android:supportsRtl="true" tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name="androidx.compose.material3.integration.a2ui.DemoActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
