
<p>This section includes samples showing the use of the view
package features of the static support library.</p>
<ul>
  <li><a href="#GridLayout">Grid Layout</a></li>
</ul>


<h3 id="GridLayout">Grid Layout</h3>
<dl>
  <dt><a href="GridLayout1.html">Grid Layout Simple Form</a></dt>
  <dd>Demonstrates how to use GridLayout to create a simple data entry form.</dd>

  <dt><a href="GridLayout2.html">Grid Layout Form (XML)</a></dt>
  <dd>Demonstrates how to use GridLayout to create a more complex
  data entry form using XML layout resources.</dd>

  <dt><a href="GridLayout3.html">Grid Layout Form (Java)</a></dt>
  <dd>Demonstrates how to use GridLayout to create a more complex
  data entry form programmatically.</dd>
</dl>
 