<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <uses-library
            android:name="wear-sdk"
            android:required="false"/>
    </application>
    <queries>
        <intent>
            <action android:name="androidx.wear.tiles.action.BIND_UPDATE_REQUESTER" />
        </intent>
        <intent>
            <action android:name="androidx.glance.wear.action.BIND_UPDATE_REQUESTER" />
        </intent>
        <package android:name="com.google.android.wearable.protolayout.renderer" />
    </queries>
</manifest>
