# Copyright (C) 2017 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

{
    # Skip packages that don't match the following regex
    restrictToPackagePrefixes: [
        "android/support/",
        "android/arch"
    ],
    rules: [
        # Ignore
        {
            from: "(.*)BuildConfig",
            to: "ignoreInPreprocessorOnly"
        },
        {
            from: "(.*)/package-info",
            to: "ignoreInPreprocessorOnly"
        },
        {
            from: "android/support/test/(.*)",
            to: "ignore"
        },

        # Legacy
        {
            from: "android/support/v4/app/ActionBarDrawerToggle(.*)",
            to: "androidx/legacy/app/ActionBarDrawerToggle{0}"
        },
        {
            from: "android/support/v13/view/ViewCompat(.*)",
            to: "androidx/legacy/view/ViewCompat{0}"
        },
        {
            from: "android/support/v13/app/ActivityCompat(.*)",
            to: "androidx/legacy/app/ActivityCompat{0}"
        },
        {
            from: "android/support/v13/app/FragmentCompat(.*)",
            to: "androidx/legacy/app/FragmentCompat{0}"
        },
        {
            from: "android/support/v13/app/FragmentPagerAdapter(.*)",
            to: "androidx/legacy/app/FragmentPagerAdapter{0}"
        },
        {
            from: "android/support/v13/app/FragmentStatePagerAdapter(.*)",
            to: "androidx/legacy/app/FragmentStatePagerAdapter{0}"
        },
        {
            from: "android/support/v13/app/FragmentTabHost(.*)",
            to: "androidx/legacy/app/FragmentTabHost{0}"
        },

        # Re-map Recycler view
        {
            from: "android/support/v7/widget/AdapterHelper(.*)",
            to: "androidx/widget/recyclerview/AdapterHelper{0}"
        },
        {
            from: "android/support/v7/widget/ChildHelper(.*)",
            to: "androidx/widget/recyclerview/ChildHelper{0}"
        },
        {
            from: "android/support/v7/widget/DefaultItemAnimator(.*)",
            to: "androidx/widget/recyclerview/DefaultItemAnimator{0}"
        },
        {
            from: "android/support/v7/widget/DividerItemDecoration(.*)",
            to: "androidx/widget/recyclerview/DividerItemDecoration{0}"
        },
        {
            from: "android/support/v7/widget/FastScroller(.*)",
            to: "androidx/widget/recyclerview/FastScroller{0}"
        },
        {
            from: "android/support/v7/widget/GapWorker(.*)",
            to: "androidx/widget/recyclerview/GapWorker{0}"
        },
        {
            from: "android/support/v7/widget/GridLayoutManager(.*)",
            to: "androidx/widget/recyclerview/GridLayoutManager{0}"
        },
        {
            from: "android/support/v7/widget/LayoutState(.*)",
            to: "androidx/widget/recyclerview/LayoutState{0}"
        },
        {
            from: "android/support/v7/widget/LinearLayoutManager(.*)",
            to: "androidx/widget/recyclerview/LinearLayoutManager{0}"
        },
        {
            from: "android/support/v7/widget/LinearSmoothScroller(.*)",
            to: "androidx/widget/recyclerview/LinearSmoothScroller{0}"
        },
        {
            from: "android/support/v7/widget/LinearSnapHelper(.*)",
            to: "androidx/widget/recyclerview/LinearSnapHelper{0}"
        },
        {
            from: "android/support/v7/widget/OpReorderer(.*)",
            to: "androidx/widget/recyclerview/OpReorderer{0}"
        },
        {
            from: "android/support/v7/widget/OrientationHelper(.*)",
            to: "androidx/widget/recyclerview/OrientationHelper{0}"
        },
        {
            from: "android/support/v7/widget/PagerSnapHelper(.*)",
            to: "androidx/widget/recyclerview/PagerSnapHelper{0}"
        },
        {
            from: "android/support/v7/widget/PositionMap(.*)",
            to: "androidx/widget/recyclerview/PositionMap{0}"
        },
        {
            from: "android/support/v7/widget/RecyclerViewAccessibilityDelegate(.*)",
            to: "androidx/widget/recyclerview/RecyclerViewAccessibilityDelegate{0}"
        },
        {
            from: "android/support/v7/widget/RecyclerView(.*)",
            to: "androidx/widget/recyclerview/RecyclerView{0}"
        },
        {
            from: "android/support/v7/widget/ScrollbarHelper(.*)",
            to: "androidx/widget/recyclerview/ScrollbarHelper{0}"
        },
        {
            from: "android/support/v7/widget/SimpleItemAnimator(.*)",
            to: "androidx/widget/recyclerview/SimpleItemAnimator{0}"
        },
        {
            from: "android/support/v7/widget/SnapHelper(.*)",
            to: "androidx/widget/recyclerview/SnapHelper{0}"
        },
        {
            from: "android/support/v7/widget/StaggeredGridLayoutManager(.*)",
            to: "androidx/widget/recyclerview/StaggeredGridLayoutManager{0}"
        },
        {
            from: "android/support/v7/widget/ViewBoundsCheck(.*)",
            to: "androidx/widget/recyclerview/ViewBoundsCheck{0}"
        },
        {
            from: "android/support/v7/widget/ViewInfoStore(.*)",
            to: "androidx/widget/recyclerview/ViewInfoStore{0}"
        },
        {
            from: "android/support/v7/widget/helper/(.*)",
            to: "androidx/widget/recyclerview/{0}"
        },
        {
            from: "android/support/v7/widget/util/SortedListAdapterCallback",
            to: "androidx/widget/recyclerview/SortedListAdapterCallback"
        },
        {
            from: "android/support/v7/recyclerview/extensions/(.*)",
            to: "androidx/widget/recyclerview/{0}"
        },
        {
            from: "android/support/v7/util/(.*)",
            to: "androidx/widget/recyclerview/{0}"
        },

        # Re-map
        {
            from: "android/support/design/widget/CoordinatorLayout(.*)",
            to: "androidx/widget/CoordinatorLayout{0}"
        },
        {
            from: "android/support/design/widget/DirectedAcyclicGraph(.*)",
            to: "androidx/widget/DirectedAcyclicGraph{0}"
        },
        {
            from: "android/support/design/widget/ViewGroupUtils(.*)",
            to: "androidx/widget/ViewGroupUtils{0}"
        },
        {
            from: "android/support/constraint/(.*)",
            to: "androidx/widget/constraint/{0}"
        },
        {
            from: "android/support/v4/view/ViewPager(.*)",
            to: "androidx/widget/ViewPager{0}"
        },
        {
            from: "android/support/v4/view/PagerAdapter(.*)",
            to: "androidx/widget/PagerAdapter{0}"
        },
        {
            from: "android/support/v4/view/PagerTabStrip(.*)",
            to: "androidx/widget/PagerTabStrip{0}"
        },
        {
            from: "android/support/v4/view/PagerTitleStrip(.*)",
            to: "androidx/widget/PagerTitleStrip{0}"
        },
        {
            from: "android/support/v17/preference/(.*)",
            to: "androidx/leanback/preference/{0}"
        },
        {
            from: "android/support/v17/internal/widget/OutlineOnlyWithChildrenFrameLayout(.*)",
            to: "androidx/leanback/preference/internal/OutlineOnlyWithChildrenFrameLayout{0}"
        },
        {
            from: "android/support/customtabs/(.*)",
            to: "androidx/browser/customtabs/{0}"
        },
        {
            from: "android/support/v4/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/support/v7/graphics/ColorCutQuantizer(.*)",
            to: "androidx/graphics/palette/ColorCutQuantizer{0}"
        },
        {
            from: "android/support/v7/graphics/Palette(.*)",
            to: "androidx/graphics/palette/Palette{0}"
        },
        {
            from: "android/support/v7/graphics/Target(.*)",
            to: "androidx/graphics/palette/Target{0}"
        },
        {
            from: "android/support/v7/internal/widget/PreferenceImageView(.*)",
            to: "androidx/preference/internal/PreferenceImageView{0}"
        },
        {
            from: "android/support/v7/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/support/v8/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/support/v13/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/support/v14/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/support/v17/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/support/content/(.*)",
            to: "androidx/util/contentpaging/{0}"
        },
        {
            from: "android/support/percent/(.*)",
            to: "androidx/widget/{0}"
        },
        {
            from: "android/support/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/arch/(.*)",
            to: "androidx/{0}"
        },
        {
            from: "android/databinding/(.*)",
            to: "androidx/databinding/{0}"
        }
    ],
    slRules: [
        # Ignore
        {
            from: "(.*)/package-info",
            to: "ignore"
        },
        {
            from: "androidx/text/emoji/flatbuffer/(.*)",
            to: "ignore"
        },
        {
            from: "androidx/textclassifier/(.*)",
            to: "ignore"
        },
        {
            from: "androidx/widget/recyclerview/selection/(.*)",
            to: "ignore"
        },
        {
            from: "androidx/browser/browseractions/(.*)",
            to: "ignore"
        }
    ],
    pomRules: [
        {
            from: { groupId: "com.android.support", artifactId: "animated-vector-drawable", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "animated-vector-drawable", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "appcompat-v7", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "appcompat", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "cardview-v7", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "cardview", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "customtabs", version: "27.0.1" },
            to: [{ groupId: "com.androidx.browser", artifactId: "customtabs", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "design", version: "27.0.1" },
            to: [
                    { groupId: "com.androidx", artifactId: "design", version: "28.0.0" },
                    { groupId: "com.androidx", artifactId: "widget", version: "28.0.0" }
                ]
        },
        {
            from: { groupId: "com.android.support", artifactId: "exifinterface", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "exifinterface", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "gridlayout-v7", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "gridlayout", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "instantvideo", version: "26.0.0-alpha1" },
            to: [{ groupId: "com.androidx", artifactId: "instantvideo", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "leanback-v17", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "leanback", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "multidex", version: "1.0.2" },
            to: [{ groupId: "com.androidx", artifactId: "multidex", version: "2.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "multidex-instrumentation", version: "1.0.2" },
            to: [{ groupId: "com.androidx", artifactId: "multidex-instrumentation", version: "2.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "palette-v7", version: "27.0.1" },
            to: [{ groupId: "com.androidx.graphics", artifactId: "palette", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "percent", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "widget", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "preference-leanback-v17", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "preference-leanback", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "preference-v14", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "preference", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "preference-v7", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "preference", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "recommendation", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "recommendation", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "recyclerview-v7", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "recyclerview", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-annotations", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "annotations", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-compat", version: "27.0.1" },
            to: [{ groupId: "com.androidx.browser", artifactId: "compat", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-content", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "content", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-core-ui", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "core-ui", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-core-utils", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "core-utils", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-dynamic-animation", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "dynamic-animation", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-emoji", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "emoji", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-emoji-appcompat", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "emoji-appcompat", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-emoji-bundled", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "emoji-bundled", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-fragment", version: "27.0.1" },
            to: [{ groupId: "com.androidx.browser", artifactId: "fragment", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-media-compat", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "media-compat", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-tv-provider", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "tv-provider", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-v13", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "androidx", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-v4", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "androidx", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "support-vector-drawable", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "vector-drawable", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "transition", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "transition", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "wear", version: "27.0.1" },
            to: [{ groupId: "com.androidx", artifactId: "wear", version: "28.0.0" }]
        },
        {
            from: { groupId: "com.android.support", artifactId: "wearable", version: "26.0.0-alpha1" },
            to: [{ groupId: "com.androidx", artifactId: "wearable", version: "28.0.0" }]
        }
    ],
    map: {
        # Types added in 28.0.0 (missing in 27.1.0)
        types: {
            "android/support/v4/app/NotificationCompat$Action$SemanticAction": "androidx/app/NotificationCompat$Action$SemanticAction",
            "android/support/v4/graphics/TypefaceCompatApi28Impl": "androidx/graphics/TypefaceCompatApi28Impl",
            "android/support/v7/util/AdapterListUpdateCallback": "androidx/widget/recyclerview/AdapterListUpdateCallback",
            "android/support/v7/recyclerview/extensions/ListAdapterConfig$Builder$MainThreadExecutor": "androidx/widget/recyclerview/ListAdapterConfig$Builder$MainThreadExecutor"
        }
    },
    proGuardMap: {
        rules: {
            "android/support/transition/ChangeBounds$*": "androidx/transition/ChangeBounds$*",
            "android/support/graphics/drawable/VectorDrawableCompat$*": "androidx/graphics/drawable/VectorDrawableCompat$*"
        }
    }
}
