<!--
  ~ Copyright (C) 2016 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License
  -->

<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="androidx.ui.framework.demos">

    <application>
        <activity android:name=".AnimationGestureSemanticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Semantics/Animations Gestures and Semantics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".VectorGraphicsActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Graphics/Vector graphics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Gestures -->
        <activity android:name=".gestures.DragGestureDetectorDemo"
            android:configChanges="orientation|screenSize"
            android:label="Gestures/Single GestureDetectors/DragGestureDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".gestures.NestedScrollingDemo"
            android:configChanges="orientation|screenSize"
            android:label="Gestures/Complex Demos/Nested Scrolling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".MultipleCollectActivity"
            android:configChanges="orientation|screenSize"
            android:label="Layout/Multiple collects measure">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
