<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidx.enterprise.feedback">
    <queries>
        <intent>
            <action android:name="androidx.enterprise.feedback.action.APP_STATES" />
        </intent>
    </queries>
</manifest>
