<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android_libs.ub_uiautomator, androidx.test.uiautomator" />

    <application
        android:exported="true"
        android:supportsRtl="true"
        android:theme="@style/TestActivityTheme">
        <activity
            android:name="androidx.core.widget.ListViewTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.widget.TextViewTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.widget.ReceiveContentTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.widget.TestContentViewActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.view.VpaActivity"
            android:exported="true" />

        <activity
            android:name="android.support.v4.ThemedYellowActivity"
            android:exported="true"
            android:theme="@style/YellowTheme" />

        <activity
            android:name="androidx.core.view.ViewCompatActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true" />

        <activity
            android:name="androidx.core.app.NavUtilsParentActivity"
            android:exported="true" />
        <activity
            android:name="androidx.core.app.NavUtilsActivity"
            android:exported="true"
            android:parentActivityName="androidx.core.app.NavUtilsParentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidx.core.app.NavUtilsParentActivity" />
        </activity>

        <activity
            android:name="androidx.core.app.TestActivity"
            android:exported="true"
            android:icon="@drawable/test_drawable_blue">
            <intent-filter>
                <action android:name="androidx.core.content.pm.SHORTCUT_LISTENER" />
            </intent-filter>
            <meta-data
                android:name="androidx.core.content.pm.shortcut_listener_impl"
                android:value="androidx.core.content.pm.TestShortcutInfoChangeListener" />
        </activity>

        <activity
            android:name="androidx.core.app.TestComponentActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.app.TestActivityWithLifecycle"
            android:exported="true" />
        <activity
            android:name="androidx.core.app.TestActivityRecreate"
            android:exported="true" />
        <activity
            android:name="androidx.core.app.ActivityCompatRecreateLifecycleTestActivity"
            android:exported="true" />
        <activity
            android:name="androidx.core.view.DragStartHelperTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.widget.ContentLoadingProgressBarActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.app.FrameMetricsActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.app.FrameMetricsSubActivity"
            android:exported="true" />
        <activity
            android:name="androidx.core.widget.EdgeEffectCompatTest$EdgeEffectCompatTestActivity"
            android:exported="true" />
        <activity
            android:name="androidx.core.app.ComponentActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.view.WindowCompatActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="androidx.core.view.LightSystemBarsActivity"
            android:exported="true"
            android:theme="@style/LightSystemBarsTheme" />

        <activity
            android:name="androidx.core.view.LightStatusBarDarkNavigationBarActivity"
            android:exported="true"
            android:theme="@style/LightSystemBarsTheme" />

        <activity
            android:name="androidx.core.view.LightNavigationBarDarkStatusBarActivity"
            android:exported="true"
            android:theme="@style/LightSystemBarsTheme" />

        <activity
            android:name="androidx.core.view.DarkSystemBarsActivity"
            android:exported="true"
            android:theme="@style/DarkSystemBarsTheme" />

        <activity
            android:name="androidx.core.view.WindowInsetsCompatActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="androidx.core.view.SoftwareKeyboardControllerCompatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name="androidx.core.app.GetSystemLocalesActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.view.inputmethod.ImeBaseSplitTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.view.inputmethod.ImeSecondarySplitViewCompatTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.view.inputmethod.ImeSecondarySplitTestActivity"
            android:exported="true" />

        <activity
            android:name="androidx.core.app.GrammaticalInfectionActivity"
            android:configChanges="grammaticalGender"
            android:exported="true" />

        <activity-alias
            android:name="androidx.core.app.NavUtilsAliasActivity"
            android:targetActivity="androidx.core.app.NavUtilsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidx.core.app.NavUtilsParentActivity" />
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="moocow;additional.authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <provider
            android:name="androidx.core.provider.MockFontProvider"
            android:authorities="androidx.core.provider.fonts.font"
            android:exported="false"
            android:multiprocess="true" />

        <service
            android:name="androidx.core.app.JobIntentServiceTest$TargetService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

</manifest>
