<?xml version="1.0" encoding="utf-8"?><!-- Copyright (C) 2019 The Android Open Source Project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Enable requestLegacyExternalStorage for Android 10 saving to direct media file test
         This value is ignore after targeting Android 11 -->
    <application
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConcurrentCameraActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="true"
            android:label="Concurrent Camera Test App"
            android:taskAffinity="androidx.camera.integration.core.ConcurrentCameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraXActivity"
            android:exported="true"
            android:label="Camera Core Test App"
            android:taskAffinity="androidx.camera.integration.core.CameraXActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraPipeActivity"
            android:exported="true"
            android:label="CameraPipe Core Test App"
            android:taskAffinity="androidx.camera.integration.core.CameraPipeActivity"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenGLActivity"
            android:exported="true"
            android:label="Camera Core Test App (OpenGL Activity)"
            android:taskAffinity="androidx.camera.integration.core.OpenGLActivity"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoCameraSwitchingActivity"
            android:exported="true"
            android:label="Video Camera Switching Test App"
            android:taskAffinity="androidx.camera.integration.core.VideoCameraSwitchingActivity"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".CameraXService"
            android:exported="true"
            android:foregroundServiceType="camera|microphone"
            android:label="CameraX Service">
            <intent-filter>
                <action android:name="androidx.camera.integration.core.intent.action.BIND_USE_CASES" />
                <action android:name="androidx.camera.integration.core.intent.action.TAKE_PICTURE" />
                <action android:name="androidx.camera.integration.core.intent.action.START_RECORDING" />
                <action android:name="androidx.camera.integration.core.intent.action.STOP_RECORDING" />
            </intent-filter>
        </service>
    </application>

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
</manifest>
