<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2019 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="androidx.camera.extensions.test">

    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    TODO(b/126431497): Remove this once Camera2Initializer has been removed.
    Disable auto initialization for tests. Tests should initialize themselves.
    -->
    <application>
        <provider
            android:exported="false"
            android:name="androidx.camera.camera2.impl.Camera2Initializer"
            android:authorities="${applicationId}.camerax-init"
            tools:node="remove"/>
    </application>

</manifest>
