<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.support.graphics.drawable.animated.tests">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name="android.support.graphics.drawable.tests.DrawableStubActivity"/>
    </application>
</manifest>
