<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.sample.musicplayer"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:exported="false" android:name=".MusicService">
            <intent-filter>
                <action android:name="com.android.sample.musicplayer.action.START" />
                <action android:name="com.android.sample.musicplayer.action.PLAY" />
                <action android:name="com.android.sample.musicplayer.action.PAUSE" />
                <action android:name="com.android.sample.musicplayer.action.NEXT" />
                <action android:name="com.android.sample.musicplayer.action.PREV" />
                <action android:name="com.android.sample.musicplayer.action.STOP" />
            </intent-filter>
        </service>
    </application>

</manifest>