<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2018 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="@string/main_activity_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <!-- Top-level Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SafeBrowsingActivity"
            android:exported="true" />
        <activity
            android:name=".SmallInterstitialActivity"
            android:exported="true" />
        <activity
            android:name=".MediumInterstitialActivity"
            android:exported="true" />
        <activity
            android:name=".FullPageInterstitialActivity"
            android:exported="true" />
        <activity
            android:name=".GiantInterstitialActivity"
            android:exported="true" />
        <activity
            android:name=".PerWebViewEnableActivity"
            android:exported="true" />
        <activity
            android:name=".InvisibleActivity"
            android:exported="true" />
        <activity
            android:name=".UnattachedActivity"
            android:exported="true" />
        <activity
            android:name=".CustomInterstitialActivity"
            android:exported="true" />
        <activity
            android:name=".PopupInterstitialActivity" />
        <activity
            android:name=".AllowlistActivity"
            android:exported="true" />
        <activity
            android:name=".ProxyOverrideActivity"
            android:exported="true"
            android:networkSecurityConfig="@xml/proxy_override_network_security_config" />
        <activity
            android:name=".AssetLoaderListActivity"
            android:exported="true" />
        <activity
            android:name=".AssetLoaderSimpleActivity"
            android:exported="true" />
        <activity
            android:name=".AssetLoaderAjaxActivity"
            android:exported="true" />
        <activity
            android:name=".AssetLoaderInternalStorageActivity"
            android:exported="true" />
        <activity
            android:name=".ForceDarkActivity"
            android:theme="@style/AppDayNightTheme"
            android:exported="true" />
        <activity
            android:name=".MultiProcessEnabledActivity"
            android:exported="true" />
        <activity
            android:name=".TracingControllerActivity"
            android:exported="true" />
        <activity
            android:name=".RendererTerminationActivity"
            android:exported="true" />
        <activity
            android:name=".FullscreenActivity"
            android:exported="true" />
        <activity
            android:name=".JsJavaInteractionActivity"
            android:exported="true" />
        <activity
            android:name=".WebMessageCompatActivity"
            android:exported="true" />
        <activity
            android:name=".WebMessageListenerActivity"
            android:exported="true" />
        <activity
            android:name=".WebMessageListenerMaliciousWebsiteActivity"
            android:exported="true" />
        <activity
            android:name=".DocumentStartJavaScriptActivity"
            android:exported="true" />
        <activity
            android:name=".ForceDarkStrategyActivity"
            android:exported="true" />
        <activity
            android:name=".GetVariationsHeaderActivity"
            android:exported="true" />
        <activity
            android:name=".ProcessGlobalConfigActivity"
            android:exported="true" />
        <activity
            android:name=".DataDirectorySuffixActivity"
            android:process=":dataDirectorySuffixActivity"
            android:exported="true" />
        <activity
            android:name=".DirectoryBasePathsActivity"
            android:process=":directoryBasePathActivity"
            android:exported="true" />
        <activity
            android:name=".RequestedWithHeaderActivity"
            android:exported="true" />
        <activity android:name=".CookieManagerActivity"
            android:exported="true" />
        <activity
            android:name=".ImageDragActivity"
            android:exported="false" />
        <activity
            android:name=".UserAgentMetadataActivity"
            android:exported="true" />
        <activity
            android:name=".MultiProfileTestActivity"
            android:exported="false" />
        <activity
            android:name=".MuteAudioActivity"
            android:exported="true" />
        <activity
            android:name=".RestrictedContentActivity"
            android:exported="true" />
        <activity
            android:name=".TinyInterstitialActivity"
            android:exported="true" />
        <provider
            android:authorities="com.example.androidx.webkit.DropDataProvider"
            android:name="androidx.webkit.DropDataContentProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>

    </application>
</manifest>
