<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2025 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="JXR Projected Tests">
        <activity
            android:name="androidx.xr.projected.testapp.MainActivity"
            android:exported="true"
            android:label="Projected Test App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.componentpermissions.PermissionsComponentActivity"
            android:exported="true"
            android:label="Component Permission Activity"
            android:requiredDisplayCategory="@string/display_category_xr_projected">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.permissions.PermissionsActivity"
            android:exported="true"
            android:label="Permission Activity"
            android:requiredDisplayCategory="@string/display_category_xr_projected">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.projectedcontext.ProjectedContextActivity"
            android:exported="true"
            android:label="Projected Context Activity">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.projectedcontext.ProjectedActivity"
            android:exported="true"
            android:label="Projected Activity"
            android:requiredDisplayCategory="@string/display_category_xr_projected">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.audio.AudioActivity"
            android:exported="true"
            android:label="Audio Activity">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.input.ProjectedInputActivity"
            android:exported="true"
            android:label="Projected Input Activity"
            android:requiredDisplayCategory="@string/display_category_xr_projected">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.controller.DisplayControllerActivity"
            android:exported="true"
            android:label="Controller Activity">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.controller.DisplayControllerProjectedActivity"
            android:exported="true"
            android:label="Controller Projected Activity"
            android:launchMode="singleTop"
            android:requiredDisplayCategory="@string/display_category_xr_projected">
        </activity>
        <activity
            android:name="androidx.xr.projected.testapp.camera.CameraActivity"
            android:exported="true"
            android:label="Camera Activity">
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>
