<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidx.wear.watchface.complications.datasource.ktx">
  <application>
    <uses-library android:name="com.google.android.wearable" android:required="false" />
  </application>
</manifest>
