name: AndroidX Presubmits
on:
  push:
    branches:
      - yigit/workflow-cleanup
  pull_request_target:
    types: ['labeled']

jobs:
  setup:
    # Both `run_workflow` and `retry_workflow` will trigger the workflow
    if: ${{ (github.event_name == 'push' || contains(github.event.label.name, 'workflow')) }}
    runs-on: ubuntu-latest
    outputs:
      gradlew_flags: ${{ steps.global-constants.outputs.gradlew_flags }}
    steps:
      - name: "Start webhook"
        uses: androidx/github-workflow-webhook-action@main
        with:
          url: 'https://androidx.dev/github/androidX/presubmit/hook'
          secret: ${{ secrets.ANDROIDX_PRESUBMIT_HOOK_SECRET }}
          payload: '{ "platform": "all", "token": "${{ secrets.GITHUB_TOKEN }}", "state": "started"}'
      - name: "Setup global constants"
        id: global-constants
        run: |
          set -x
          GRADLEW_FLAGS="-Dorg.gradle.internal.http.connectionTimeout=300000 \
            -Dorg.gradle.internal.http.socketTimeout=300000                  \
            -Dorg.gradle.internal.repository.max.retries=10                  \
            -Dorg.gradle.internal.repository.initial.backoff=500             \
            --stacktrace"
          echo "::set-output name=gradlew_flags::$GRADLEW_FLAGS"

  lint:
    runs-on: ubuntu-latest
    needs: [setup]
    outputs:
      status: ${{ steps.output-status.outputs.status }}
    steps:
      - name: Pull request format
        uses: 'androidx/check-pr-format-action@main'
        with:
          # Enforces a `Test: <stanza>` in the pull request
          checks: '["(.*)?Test:(.*)?"]'

      - name: "Setup JDK 11"
        id: setup-java
        uses: actions/setup-java@v1
        with:
          java-version: "11"

      - name: "Set environment variables"
        shell: bash
        run: |
          set -x
          echo "ANDROID_SDK_ROOT=$HOME/Library/Android/sdk" >> $GITHUB_ENV
          echo "DIST_DIR=$HOME/dist" >> $GITHUB_ENV

      - name: "Compute actions/checkout arguments"
        id: checkout-args
        run: |
          set -x

          REF=${{ github.event.pull_request.head.ref }}
          if [ -z "$REF" ]; then
            REF=${{ github.event.ref }}
          fi
          echo "::set-output name=ref::$REF"

          REPOSITORY=${{ github.event.pull_request.head.repo.full_name }}
          if [ -z "$REPOSITORY" ]; then
            REPOSITORY=${{ github.repository }}
          fi
          echo "::set-output name=repository::$REPOSITORY"

      - name: "Checkout androidx repo"
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.checkout-args.outputs.ref }}
          repository: ${{ steps.checkout-args.outputs.repository }}
          fetch-depth: 0 # Need full depth for changed-files-action

      - name: "Get changed files in push or pull_request"
        id: changed-files
        uses: androidx/changed-files-action@main

      - name: "Warn on missing updateApi"
        run: |
          set -x
          ./development/apilint.py -f ${{ steps.changed-files.outputs.files }}

      - name: "Parse changed-files as ktlint args"
        id: ktlint-file-args
        run: |
          set -x
          KTLINT_FILES=`echo "${{ steps.changed-files.outputs.files }}" | sed 's|[^ ]* *|--file=${{ github.workspace }}/&|g' | grep -v "*.txt"`
          echo "::set-output name=ktlint-file-args::$KTLINT_FILES"

      - name: "ktlint"
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        with:
          arguments: -q :ktlintCheckFile ${{ steps.ktlint-file-args.outputs.ktlint-file-args }} ${{ needs.setup.outputs.gradlew_flags }}
          build-root-directory: activity
          configuration-cache-enabled: true
          dependencies-cache-enabled: true
          gradle-executable: activity/gradlew
          wrapper-directory: activity/gradle/wrapper
          wrapper-cache-enabled: true
  build-modules:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        project: ["activity", "biometric", "compose-compiler", "fragment", "lifecycle", "navigation", "paging", "room", "work"]
        include:
          - project: "compose-compiler"
            project-root: "compose/compiler"
          - project: "navigation"
            custom-os: "macos-latest" # run one of them on a mac to ensure mac setup works
    runs-on: ${{ matrix.custom-os || matrix.os }}
    needs: [setup, lint]
    env:
      artifact-id: ${{matrix.project}}
      project-root: ${{matrix.project-root || matrix.project}}
    steps:
      - name: "Checkout androidx repo"
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: "Setup JDK 11"
        id: setup-java
        uses: actions/setup-java@v1
        with:
          java-version: "11"

      - name: "Set environment variables"
        shell: bash
        run: |
          set -x
          echo "ANDROID_SDK_ROOT=$HOME/Library/Android/sdk" >> $GITHUB_ENV
          echo "DIST_DIR=$HOME/dist" >> $GITHUB_ENV

      - name: "./gradlew buildOnServer"
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        with:
          arguments: buildOnServer ${{ needs.setup.outputs.gradlew_flags }}
          build-root-directory: ${{ env.project-root }}
          configuration-cache-enabled: true
          dependencies-cache-enabled: true
          gradle-executable: ${{ env.project-root }}/gradlew
          wrapper-directory: ${{ env.project-root }}/gradle/wrapper
          wrapper-cache-enabled: true

      - name: "Upload build artifacts"
        continue-on-error: true
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: artifacts_${{ env.artifact-id }}
          path: ~/dist

  teardown:
    runs-on: ubuntu-latest
    needs: [
      setup,
      lint,
      build-modules
    ]
    if: always()
    steps:
      - name: Parse workflow status
        id: workflow-status
        run: |
          set -x
          if [ "${{ needs.lint.result }}" == "success" ]                  && \
            [ "${{ needs.build-modules.result }}" == "success" ]
          then
            echo "::set-output name=result::success"
          else
            echo "::set-output name=result::failure"
          fi

      - name: Successful WebHook
        if: steps.workflow-status.outputs.result == 'success'
        uses: androidx/github-workflow-webhook-action@main
        with:
          url: 'https://androidx.dev/github/androidX/presubmit/hook'
          secret: ${{ secrets.ANDROIDX_PRESUBMIT_HOOK_SECRET }}
          payload: '{ "platform": "all", "token": "${{ secrets.GITHUB_TOKEN }}", "state": "completed", "success": true }'

      - name: Failure WebHook
        if: steps.workflow-status.outputs.result == 'failure'
        uses: androidx/github-workflow-webhook-action@main
        with:
          url: 'https://androidx.dev/github/androidX/presubmit/hook'
          secret: ${{ secrets.ANDROIDX_PRESUBMIT_HOOK_SECRET }}
          payload: '{ "platform": "all", "token": "${{ secrets.GITHUB_TOKEN }}", "state": "completed", "success": false }'
