<!--
  ~ Copyright (C) 2016 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidx.ui.framework.demos">

    <application>
        <activity android:name=".AnimationGestureSemanticsActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Semantics/Animations Gestures and Semantics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".autofill.ExplicitAutofillTypesActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Semantics/Autofill/Explicit Autofill Types">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".VectorGraphicsActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Graphics/Vector graphics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <!-- Simple Non-Movement Based GestureDetector Demos -->
        <activity android:name=".gestures.PressReleasedGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Non-Movement/PressReleasedGestureDetectorDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".gestures.LongPressGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Non-Movement/LongPressGestureDetectorDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.DoubleTapGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Non-Movement/DoubleTapGestureDetectorDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".gestures.PressIndicatorGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Non-Movement/PressIndicatorGestureDetectorDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".focus.FocusableActivity"
            android:configChanges="orientation|screenSize"
            android:label="Focus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <!-- Simple Movement Based GestureDetector Demos -->
        <activity android:name=".gestures.TouchSlopDragGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Movement/TouchSlopDragGestureDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.LongPressDragGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Movement/LongPressDragGestureDetectorDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.RawDragGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Movement/RawDragGestureDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.TouchSlopExceededGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Simple - Movement/TouchSlopExceededGestureDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.ScaleGestureDetectorDemo"
            android:configChanges="orientation|screenSize"
            android:label="Gestures/Simple - Movement/ScaleGestureDetectorDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Complex Gesture Detectors Demos That Combine Gesture Detectors -->
        <activity android:name=".gestures.NestedScrollingDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Complex/Nested Scrolling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.NestedLongPressDemo"
            android:configChanges="orientation|screenSize"
            android:label="Gestures/Complex/Nested Long Press">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".gestures.NestedPressDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Complex/Nested Pressing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="androidx.ui.framework.demos.gestures.PopupDragActivity"
            android:configChanges="orientation|screenSize"
            android:label="Gestures/Complex/Popup Drag">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".gestures.NestedScalingDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Complex/Nested Scaling">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".gestures.DragAndScaleGestureDetectorDemo"
                  android:configChanges="orientation|screenSize"
                  android:label="Gestures/Complex/Drag and Scale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".MultipleCollectActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="Layout/Multiple collects measure">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="androidx.ui.demos.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <activity android:name=".PopupActivity"
            android:configChanges="orientation|screenSize"
            android:label="Foundation/Popup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="androidx.ui.demos.SAMPLE_CODE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
